@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13%;
    --foreground: 0 0% 90%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 13%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 70%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 22%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 0 0% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

:root {
  --sh-class: #4c97f8;
  --sh-identifier: #d6deeb;
  --sh-sign: #8996a3;
  --sh-string: #7ec699;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #a78bfa;
}

.prose {
  letter-spacing: -0.025em;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-neutral-800 bg-neutral-900;
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose a {
  @apply decoration-neutral-600 decoration-[0.1em] underline-offset-2 transition-all hover:decoration-neutral-400;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-force-new-page {
  page-break-before: always;
}
